.login{
    height: 100%;
    width: 100%;
}
.login-container{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 261px;
    height: 385px;
    margin: auto auto;
    top: 90px;
    left: 78px;
}

.login-logo img{
    width: 70px;
    height: 70px;
    margin-bottom: 20px;
}

.create-account-link{
    margin-top: 10px;
    text-decoration: none;
    color: #ff7300;
    font-size: 13px;
    cursor: pointer;
}

.create-account-link:hover {
    text-decoration: underline;
}

.forgot-link{
    margin-top: 5px;
    text-decoration: none;
    color: #ff7300;
    font-size: 13px;
    cursor: pointer;
}

.forgot-link:hover {
    text-decoration: underline;

}
.wave{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 118px;
    width: 339px;
    background-color: #ff7300;
    border-top-right-radius: 339px 118px;

}