.Header {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  position: relative;
  align-items: center;
  justify-content: space-between;
  height: 62px;
  width: 100%;
  border-bottom: 2px solid #f2f2f2;
}

li {
  list-style: none;
}

.top-bar {
  width: 90%;
  margin: auto;
  min-height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-bar-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.top-bar-logo {
  font-family: "Gotham-Black";
  font-size: 26px;
  color: #ff7300;
}

.top-bar-logo:hover {
  color: #ff5500;
}

/* Account icon */

.top-bar-username {
  font-family: "Montserrat-Medium";
  font-size: 16px;
}

.top-bar-username:hover {
  text-decoration: underline;
}

.top-bar-username-icon {
  position: relative;
  width: 31px;
  height: 31px;
}
