.sous-panier-marchand {
  display: flex;
  flex-direction: column;
}

.bar-marchand {
  display: flex;
  background-color: #f2f2f2;
  height: 38px;
  align-items: center;
  justify-content: space-between;
  padding: 0 17px;
  border-radius: 10px;
  flex-shrink: 0;
  font-family: 'Montserrat-Regular';
  position: relative;
}

span {
      font-family: 'Montserrat-Medium';
      font-size: 15px;
      font-weight: bold;
}

.text-sub-tot {
    font-family: 'Montserrat-Regular';
    font-size: 11px;
    position: absolute;
    right: 100px;
}
